*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    font-family: 'Kumbh Sans', sans-serif;
    height: 600px;
    background: linear-gradient( hsl(273, 75%, 66%) ,  hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.faq{
    background-color: white;
    border-radius: 1.5rem;
    display: flex;
    font-size: 14px;
    min-height: 80vh;
    width: 70%;
   
}
.woman{
    background-image: url("../images/bg-pattern-desktop.svg");
    background-size: cover;
}
.question{
    margin-left: 3rem;
    padding-top: 4rem;
    line-height: 2rem;
}
.woman-img{
    margin: 4rem auto 1rem auto;
    width: 100%;
}
 p{
     padding-top:10px ;
     padding-bottom: 7px;
 }
 .para{
     color: hsl(240, 6%, 50%);
     font-size: 12px;
     padding-right: 30px;
     line-height: 1rem;
 }
 hr{
     color: hsl(240, 5%, 91%);
     width: 90%;
     border-bottom: none;
 }
 .arrow{
      margin: 0 0 0 40px ;
 }
 .bold{
     font-weight: bold;
 }
 h1{
    color:hsl(237, 12%, 33%) ;  
     font-size: 2.5rem;
     padding-bottom: 1.5rem;
     font-weight: bold;
 }
 .box{
     position: absolute;
     left: 8% ;
     bottom: 18%;
 }